# .gitignore for STAT 172 Project 1 

# Ignore Markdown to PDF Script Materials
node_modules/


# Ignore PDFs
*.PDF

# Ignore Original PowerPoint File
Project 1 Presentation.pptx

# Model Interpretation File
Model Interpretations.md
extra insights.md

# Code TXT
code.txt